.likeImage {
  margin-left: 3px;
}
.iconContainer {
  margin-left: 12px;
}
.news-card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 15px !important;
  margin: 10px !important;
  /* width: 50em;
  height: 30em */
}
.circleImage {
  border-radius: 100px;
  border: 3px solid rgb(128, 128, 255);
  box-shadow: 0 0 7px #777;
}
.tags {
  margin: 20px;
}
.ui.info.message {
  background-color: #f8ffff;
  color: #276f86;
  position: relative;
  min-height: 1em;
  margin: 1em 0;
  background: #f8f8f9;
  padding: 1em 1.5em;
  line-height: 1.4285em;
}
.ui.main.container {
  margin-top: 7em;
}
.userscontant.main.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  width: 20em;
}
.ui.fixed.menu {
  padding-top: 7px;
}
.username {
  font-family: "Open Sans";
  font-size: 20px;
}
.four.wide.column {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
.icons {
  font-size: 40px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}
